.filter__menu {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 360px;
  height: 531px;
  top: -13px;
  left: 0;
  padding: 0 17px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;

  .menu__title {
    padding-top: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ef5b70;
    display: flex;
    align-items: center;

    button {
      color: #ef5b70;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}
