.products__cart {
  .cart__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    column-gap: 30px;
    row-gap: 30px;
  }
}