$color-second: #ef5b70;

.catalog__filter {
  width: 100%;
  height: 17px;

  .filter-wr {
    height: 100%;
    display: flex;

    .filter__btn {
      display: flex;
      align-items: center;
      position: relative;

      .filter__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        cursor: pointer;
      }

      .filter__logo {
        margin-left: 11px;
        width: 15px;
        height: 10px;
        background-repeat: no-repeat;
        padding-right: 330px;
      }
    }

    .filter__btn:hover .filter__menu {
      display: block;
    }
  }

  .filter__select {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    .select-wrap {
      display: flex;
      cursor: pointer;
    }
  }
}

// Media screens
@media screen and (min-width: 769px) and (max-width: 1268px) {
  .catalog__filter .filter-wr {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .catalog__filter {
    .filter-wr {
      justify-content: space-between;
      margin: 0 16px;

      .filter__btn .filter__logo {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .catalog__filter {
    .filter-wr {
      justify-content: space-between;

      .filter__btn {
        button {
          display: none;
        }

        .filter__logo {
          transform: scale(2.5);
        }
      }
    }

    .filter__select {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
