@media screen and (max-width: 768px) {
  .header {
    &__row {
      margin: 0 4.17%;
    }
  }

  .content__head {
    height: 368px;
    .head__image {
      max-width: 385px;
      img {
        object-fit: cover;
      }
    }
    .head__info {
      .head__body {
        padding-left: 40px;
        .head__text {
          font-size: 44px;
          line-height: 53px;
          .head__text-subtitle {
            font-size: 18px;
          }
        }
      }
    }
  }

  .content__offer {
    max-width: 736px;
    .offer__items {
      padding-top: 20px;
      .items__row {
        .items__cart {
          max-width: 232px;
          min-height: 168px;
          margin-right: 20px;
        }
      }
      .items__cart_4 {
        height: 116px;
        margin-top: 19px;
      }
    }
  }

  .products {
    &__cart {
      .cart__container {
        .cart {
          margin: 0 16px 17px 0;
        }
      }
      .cart:nth-child(2n) {
        margin-right: 0;
      }
    }
    &__btn {
      margin-top: 33px;
    }
  }

  .information {
    padding-top: 65px;
    &__row {
      min-height: 610px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0;
    }
  }
  .footer {
    &__subscribe {
      min-height: 693px;
      .subscribe-wrapper {
        flex-direction: column;
        justify-content: center;
        .subscribe__item {
          margin-top: 48px;
          .subscribe__item-text {
            line-height: 162%;
            padding-bottom: 27px;
          }
          .subscribe__item-form {
            margin: 0 auto;
          }
        }
      }
    }
    &__bottom {
      justify-content: space-between;
      padding: 0 32px;
    }
  }
}