@import "../../styles.css";
@import "index-tablet.css";
@import "index-iphone.css";

$secondColor: #F16D7F;

.product {
  width: 100%;
  &__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 148px;
    background: #F8F3F4;
    .title__name {
      color: $secondColor;
      font-size: 24px;
      line-height: 29px;
    }
    .title__text {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #636363;
      span {
        color: $secondColor;
        font-weight: bold;
      }
    }
  }
  &__slider {
    width: 100%;
    background: #F7F7F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 777px;
    .slider__image {
      max-width: 597px;
      height: 724px;
      img {
        width: 100%;
        height: 100%;
        padding-bottom: 65px;
      }
    }
  }
  &__descr {
    max-width: 1141px;
    height: 601px;
    background: #FFFFFF;
    margin: -65px auto 0 auto;
    .descr-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid #EAEAEA;
      .descr__info {
        min-height: 357px;
        max-width: 641px;
        border-bottom: 1px solid #EAEAEA;;
        display: flex;
        flex-direction: column;
        align-items: center;
        .info__title {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: $secondColor;
          padding: 64px 0 12px 0;
        }
        .info__devider {
          width: 63px;
          height: 3px;
          background: #EF5B70;
        }
        .info__subtitle {
          padding-top: 12px;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          color: #4D4D4D;
        }
        .info__text {
          padding-top: 48px;
          max-width: 555px;
          min-height: 52px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #5E5E5E;
        }
        .info__price {
          padding-top: 32px;
          font-weight: 300;
          font-size: 24px;
          line-height: 29px;
          color: #EF5B70;
        }
      }
      .descr__filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .filter__sort {
          display: flex;
          .filter__sort-item {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding: 65px 0 0 23px;
            select {
              border: none;
              color: #6F6E6E;
            }
          }
          .filter__sort-item:last-child {
            padding-right: 0;
          }
        }
        .filter__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 211px;
          height: 47px;
          border: 1px solid #FF6A6A;
          margin-top: 49px;
          button {
            border: none;
            height: 100%;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            background: #FFFFFF;
            padding-left: 23px;
          }
        }
      }
    }
  }
}

.content__cart-wrap {
  padding: 80px 0;
}

//Media Tablet
@media screen and (max-width: 768px){
  .product {
    &__title {
      justify-content: space-between;
      padding: 0 16px;
    }
    &__slider {
      height: 624px;
      .slider__image {
        max-width: 466px;
        height: 565px;
      }
    }
  }
  .cart_disabled {
    display: none;
  }
}

//Media iphone
@media screen and (max-width: 375px) {
  .product {
    &__title {
      flex-direction: column;
      height: 148px;
      justify-content: center;
      .title__name {
        padding-bottom: 32px;
      }
    }
    &__slider {
      height: 624px;
      .slider__image {
        max-width: 374px;
        height: 454px;
      }
    }
    &__descr {
      .descr-wrap {
        .descr__filter {
          .filter__sort {
            .filter__sort-item {
              font-size: 10px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
  .content__cart-wrap {
    padding: 16px 0 64px 0;
  }
}