.catalog__pagination {
  padding: 49px 0 0 0;
  width: 283px;
  margin: 0 auto;

  .pagination-wrap {
    width: 100%;
    height: 43px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #CBCBCB;

    .pagination__arrow {
      color: #000000;
      width: 8px;
      height: 14px;
    }

    .pagination__numbers {
      display: flex;

      a {
        padding-left: 18px;
        text-decoration: none;

        .active {
          color: #EF5B70;
        }
      }

      a:last-child {
        padding-left: 0;
      }

      .pagination__numbers-dots {
        padding: 0;
      }

      a:hover {
        transform: scale(1.15);
        color: #EF5B70;
        filter: brightness(0.85);
      }
    }

    .pagination__arrow_right {
      padding-left: 16px;
    }
  }
}